<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivero La Laboral - Gestión mensajes</title>
    <link rel="stylesheet" th:href="@{/menuadmin.css}">
</head>
<body>
    <header>
        <div class="logo">
            <img th:src="@{/imagenes/lalaboral.png}" alt="Logo del Vivero">
        </div>
    </header>
    <h2>GESTIÓN DE MENSAJES</h2>
    <div class="menupersonal">
         <a th:href="@{/registrarmensaje}" class="menu-item">
            <img th:src="@{/imagenes/registrar.png}" alt="REGISTRAR MENSAJE">
            <span>1. Registrar un nuevo mensaje.</span>
        </a>
        <a th:href="@{/filtrarmensajes}" class="menu-item">
            <img th:src="@{/imagenes/modificar.png}" alt="FILTRAR MENSAJES">
            <span>2. Filtrar mensajes.</span>
        </a>
		<a th:href="@{${origen == 'menuadmin' ? '/menuadmin' : '/menupersonal'}}" class="menu-item">
		    <img th:src="@{/imagenes/casa.png}" alt="VOLVER">
		    <span>3. Volver al menú anterior.</span>
		</a>
    </div>
</body>
</html>