<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Iniciar Sesión</title>
<link rel="stylesheet" th:href="@{/css/iniciarsesion.css}">
</head>
<header>
	<div class="logo">
		<img th:src="@{/imagenes/lalaboral.png}">
	</div>
</header>
<body>
	<div class="login-container">
		<h2>INICIAR SESIÓN</h2>

		<form th:action="@{/login}" method="post">
			<label for="username">USUARIO:</label> <input type="text"
				id="username" name="username" required>

			<label for="password">CONTRASEÑA:</label> <input type="password"
				id="password" name="password" required>

			<button type="submit">
				enviar <span>&raquo;</span>
			</button>
		</form>

		<div th:if="${param.error}">
			<p style="color: red;">Usuario o contraseña incorrectos</p>
		</div>

		<div th:if="${param.logout}">
			<p style="color: green;">Has cerrado sesión correctamente</p>
		</div>
		<div th:if="${param.sessionExpired}">
			<p style="color: red;">Tu sesión ha expirado</p>
		</div>

		<div class="contenedorboton">
			<a th:href="@{/}">
				<button type="button">Volver</button>
			</a>
		</div>

	</div>
</body>

</html>