<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivero La Laboral - Registrar ejemplar</title>
    <link rel="stylesheet" th:href="@{/registrarejemplar.css}">
</head>
    <header>
        <div class="logo">
        	<img th:src="@{/imagenes/lalaboral.png}" alt="Logo">
        </div>
    </header>
<body>
    <br><br>
    <h2>REGISTRAR NUEVO EJEMPLAR</h2>
    <form id="formSeleccion" th:action="@{/registrarejemplar}" method="post">
    <input type="hidden" name="codPlanta" id="codigoSeleccionado">
	</form>
    <main>
        <div th:if="${error}" style="color: red; font-weight: bold;">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${mensajeExito}" style="color: green; font-weight: bold;">
            <p th:text="${mensajeExito}"></p>
        </div>
        <div th:if="${plantas}">
        <h3>PLANTAS DEL VIVERO</h3>
        <table>
            <thead>
                <tr>
                    <th>CÓDIGO DE PLANTA</th>
                    <th>NOMBRE COMÚN</th>
                    <th>NOMBRE CIENTÍFICO</th>
                    <th>Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="planta : ${plantas}">
                    <td th:text="${planta.codigo}"></td>
                    <td th:text="${planta.nombrecomun}"></td>
                    <td th:text="${planta.nombrecientifico}"></td>
                    <td class="sinborde">
					<button type="button" th:data-codigo="${planta.codigo}" onclick="seleccionarPlanta(this)">✔</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>

        <br>
		<div class="contenedorboton">
			<a th:href="@{/gestionejemplares}">
				<button type="button">Volver</button>
			</a>
		</div>
    </main>

    <script>

        function seleccionarPlanta(button) {
            let codigo = button.getAttribute("data-codigo");
            document.getElementById("codigoSeleccionado").value = codigo;
            document.getElementById("formSeleccion").submit(); // Envía el formulario
        }
    </script>
</body>
</html>