<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar cliente</title>
    <link rel="stylesheet" th:href="@{/css/registrarpersona.css}">
</head>
<body>
    <header>
        <div class="logo">
            <img th:src="@{/imagenes/lalaboral.png}" alt="Logo">
        </div>
    </header> 
    <main>
        <h3>REGISTRO DE NUEVO CLIENTE</h3>
        
        <div class="form-container">
        <p>Introduzca los datos del nuevo cliente.</p>
            <form th:action="@{/registrarcliente}" th:object="${credenciales}" method="post">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" th:field="*{cliente.nombre}" required>

		        <label for="fechaNac">Fecha de nacimiento:</label>
		        <input type="date" id="fechaNac" name="fechaNac" th:field="*{cliente.fecha_nac}" placeholder="yyyy-MM-dd" required></input>

                <label for="nif">NIF/NIE:</label>
                <input type="text" id="nif" name="nif" th:field="*{cliente.NIF}" placeholder="XXXXXXXXQ" required pattern="[0-9]{8}[a-zA-Z]">
                
                <label for="direccion">Dirección:</label>
                <input type="text" id="direccion" name="direccion" th:field="*{cliente.direccion}" required>
                
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:field="*{cliente.email}" required>
                
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" th:field="*{cliente.telefono}" required>

                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" th:field="*{usuario}" required>

                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" th:field="*{password}" required>

                <button type="submit">Enviar <span>&raquo;</span></button>
                <br>
                
				<div class="contenedorboton">
					<a th:href="@{/}">
					<button type="button">Volver</button>
					</a>
				</div>
            </form>
            <p th:if="${error}" th:text="${error}" style="color: red;"></p>
            <p th:if="${exito}" th:text="${exito}" style="color: green;"></p>
        </div>
    </main>

</body>
</html>