<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivero La Laboral</title>
    <link rel="stylesheet" th:href="@{/registrarejemplar.css}">
</head>
<body>
    <header>
        <div class="logo"><img th:src="@{/imagenes/lalaboral.png}" alt="Logo"></div>
    </header>
    <br><br>
    <h2>EJEMPLARES DEL VIVERO</h2>
    <h2>VER MENSAJES DE UN EJEMPLAR</h2>
    <main>

        <div th:if="${error}" style="color: red; font-weight: bold;">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${mensajeExito}" style="color: green; font-weight: bold;">
            <p th:text="${mensajeExito}"></p>
        </div>
        <table id="ejemplaresTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Seleccionar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ejemplar : ${ejemplares}">
                    <td th:text="${ejemplar.id}"></td>
                    <td th:text="${ejemplar.nombre}"></td>
                    <td>
            <form th:action="@{/vermensajesejemplar}" method="post">
                <input type="hidden" name="ejemplarId" th:value="${ejemplar.id}" />
                <button type="submit">✔</button>
            </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <div th:if="${mensajes}">
        <table id="mensajesTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHAHORA</th>
                    <th>MENSAJE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="mensaje : ${mensajes}">
                    <td th:text="${mensaje.id}"></td>
                    <td th:text="${mensaje.fechahora}"></td>
                    <td th:text="${mensaje.mensaje}"></td>
                </tr>
            </tbody>
        </table>
        </div>

        <div class="contenedorboton">
        <button onclick="window.history.back()">Volver</button>
        </div>

    </main>

    <script>

    document.addEventListener("DOMContentLoaded", function () {
        var mensajesTable = document.getElementById("mensajesTable");
        var ejemplaresTable = document.getElementById("ejemplaresTable");

        if (mensajesTable) {
            ejemplaresTable.style.display = "none";
        }
    });
    </script>
</body>
</html>
