<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivero La Laboral</title>
    <link rel="stylesheet" th:href="@{/verplantas.css}">
</head>
<body>
    <header>
        <div class="logo"><img th:src="@{/imagenes/logo.png}"></div>
    </header>
        <br>
        <h2>PLANTAS DEL VIVERO</h2>
    <main>
        <table>
            <thead>
                <tr>
                    <th>CÓDIGO DE PLANTA</th>
                    <th>NOMBRE COMÚN</th>
                    <th>NOMBRE CIENTÍFICO</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="planta : ${plantas}">
                    <td th:text="${planta.codigo}"></td>
                    <td th:text="${planta.nombrecomun}"></td>
                    <td th:text="${planta.nombrecientifico}"></td>
                </tr>
            </tbody>
        </table>
        <div class="contenedorboton">
        <button onclick="window.history.back()">Volver</button>
        </div>
    </main>
</body>
</html>
