html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #72845d;
    padding: 5px 20px; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000; 
    height: 60px; 
}

.logo img {
    border-radius: 50%;
    width: 50px;
    height: 50px; 
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #72845d;
    color: white;
}

td {
    background-color: #d9d9d9;
}

button {
    background-color: #72845d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #5a6b4a;
}

.contenedorboton {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

h2 {
    text-align: center;
    margin-top: 100px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #72845d;
    padding: 10px 20px;
    color: white;
}