@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #72845d;
    padding: 5px 20px; 
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%;
    z-index: 1000; 
    height: 60px; 
}

.logo img {
    width: 110px;
    height: 65px; 
}

h1 {
    text-align: center;
    margin-top: 50px;
    color: #333;
    font-size: 24px; 
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/imagenes/girasoles.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 80px; 
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 400px; 
    margin: 0 auto; 
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
    font-family: "Rammetto One", serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 10px;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #6b7346;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button span {
    margin-left: 5px;
}

.form-container {
    max-width: 400px; 
    width: 100%;
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorboton {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

a {
	text-decoration: none;
}
